body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('romanesque-3136455_1280.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.3); /* White background with transparency */
    backdrop-filter: blur(10px); /* Blurring the background behind the container */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

.verse-display {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#reference-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
}

button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

.hint {
    margin-top: 20px;
    font-style: italic;
    color: #333;
}
